@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <div class="row">
            <input type="file" id="select-files" multiple="multiple" />
        </div>
    </form>

    <div id="table-score">

    </div>

</div>